.product-img-container {
    position: relative;
    width: 100%;
    max-width: 263px;

    .product-img {
        max-width: 100%;
        object-fit: cover;
        aspect-ratio: 1;
    }

    .button-wishlist {
        position: absolute;
        right: 10px;
        top: 12px;
        color: white;
        filter: drop-shadow(0px 1px 2px rgb(0 0 0 / 0.25));
    } 
}

.product {
    h5 {
        padding: 0.2em 0;
        font-size: 1rem;
    }

    button {
        width: 100%;
    }

    .product-row {
        display: flex;
        justify-content: space-between;

        .price {
            font-weight: 700;
        }
    }
}